.grid-item {
    position: relative;
    width: 60px;
    height: 90px;

}

.grid-item img {
    height: 60px;
}

.grid-item > div {
    width: inherit;
    height: inherit;
    margin: 0px;
    border: 0px black;
    border-style: dashed;
}
/* 
.grid-item-drop-zone {
    width: 100%;
    height:1px;
    left: 50%;

} */
