.game-container {
    border: solid #000000 5px;
    height: 95%;
    width: 95%;
    margin-left: 5px;
    margin-top: 5px;
    /* display: grid;
    grid-template-areas: 
    'main menu';
    grid-template-columns: 8fr 2fr; */
    display: flex;
    flex-direction: row;
    position: fixed;
}

.main-container {
    width: 80%;
    height: 100%;
}


.menu-container {
    height: 99%;
    width: 20%;
    border: solid blue 5px;
}

#deck {
    color: red;
    width : 100px;
    border : 2px solid black;
    border-radius: 7px;
    height : 100px;
    /* position: relative; */
    top: 200px;
    left: 100px;
    float : right;
    margin : 10px;
    /* overflow-wrap: break-word; */
}